* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins';
}
.container {
max-width: 1200px;
width: 100%;
margin: 0% auto;
}
.title {
   margin-top: 10px; 
}
.title-container h3 {
    font-family: "Poppins";
font-size: 24px;
font-weight: 600;
line-height: 68px;
text-align: center;
color: #3029D9;
;
}
.title-container h2 {
    font-family: "Poppins";
font-size: 48px;
font-weight: 700;
line-height: 68px;
text-align: center;
color: #0B1131;
}
.our-services {
    margin-top: 110px;
}
.our-services-container {
display: flex;
align-items: center;
gap: 34px;
}
.card {
    width: 374px;
height: 583px;
margin-bottom: 90px;
box-shadow: 19px 16px 81px 32px rgba(34, 60, 80, 0.2);
}
.card p {
    font-family: "Poppins";
font-size: 14px;
font-weight: 600;
line-height: 28px;
text-align: left;
color:  #3029D9;
margin-top: 34px;
padding-left: 34px;
}
.card h3 {
    font-family: "Poppins";
font-size: 24px;
font-weight: 700;
line-height: 34px;
text-align: left;
width: 306px;
color: #0B1131;
padding-left: 34px;
}
.card h4 {
    font-family: "Poppins";
font-size: 14px;
font-weight: 400;
line-height: 28px;
text-align: left;
margin-top: 8px;
padding-left: 34px;
color:  #0B1131;
margin-bottom: 16px;

}
.read-more {
    font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
text-align: left;
text-decoration: none;
color: #ffffff;
padding-top: 8px;
padding-bottom: 8px;
padding-right: 18px;
padding-left: 18px;
border: 1px solid #3029D9;
background-color: #3029D9;
margin-left: 34px;
border-radius: 4px;
}
.read-more:hover {
    color: coral;
}
.start {
    background-color: #111849; 
    margin-top: 90px;
}
.contact {
padding-top: 180px;
padding-bottom: 180px;
}
.contact-with-us {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
    line-height: 68px;
    text-decoration: none;
    padding-left: 493px;
    color: #5975FF;
}
.contact-with-us:hover {
    color: coral;
}
.contact h2 {
    font-family: "Poppins";
font-size: 48px;
font-weight: 700;
line-height: 68px;
text-align: center;
color: #ffffff;
margin-bottom: 30px;
}
.button-contact {
    @extend .read-more;
    padding-top: 10px;
padding-bottom: 8px;
padding-right: 19px;
padding-left: 19px;
margin-left: 538px;
margin-top: 27px;
border-radius: 4px;

}






